{
	NSIcon = "MediaPlayer.tiff";
	NSRole = "Viewer";
	NSTypes = (
		{
			NSUnixExtensions = ("webm");
			NSicon = "FileIcon_.webm.webm";
		}
	);
	ApplicationDescription = "A media player wrapper around MPV.";
	ApplicationIcon = "MediaPlayer.tiff";
	ApplicationName = "Media Player";
	ApplicationRelease = 0.1;
	Authors = "Anthony Cohn-Richardby";
	Copyright = "Copyright (C) 2019 by Anthony Cohn-Richardby";
	CopyrightDescription = "Released under the terms of the GNU General Public License Version 3 and later.";
	FullVersionID = 0.1;
	URL = "";
}
